* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #124559;
    color: #EFF6E0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
    font-family: Impact, fantasy;
}
.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-family: monospace;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #598392;
}

.nav li:hover {
    background-color: #6f8f9b;
}